.navcolor{
  background-color: springgreen;
}

.tomato {
  color: tomato;
}
.color{
  color: deeppink;
}
.ascolor{
  color:blue;
}
.maincolor{
  background-color:violet;
  opacity: 0.5;
}

.footercolor{
  display: flex;
  background-color: goldenrod;
  height: 80px;
  justify-content: center;
  align-items: center;
}